<ion-header>
  <ion-navbar>
    <ion-title>
      Controle de Patrimônio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>


      <ion-item>
        <ion-label stacked>Orgão</ion-label>
        <ion-select name="category_id" [(ngModel)]="model.category_id" id="MySelect">
          <ion-option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nome do Patrimônio</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="model.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Número da tarjeta</ion-label>
        <ion-input type="number" name="number" [(ngModel)]="model.number"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked>Conservação</ion-label>
          <ion-select name="conserv" [(ngModel)]="model.conserv" (click)="onSelect(model.category_id)">
            <!--<ion-option *ngFor="let subcategory of subcategories" value="{{ subcategory.id }}">{{ subcategory.name }}</ion-option>-->
            <ion-option value="pessimo">Péssimo</ion-option>
            <ion-option value="ruim">Ruim</ion-option>
            <ion-option value="regular">Regular</ion-option>
            <ion-option value="bom">Bom</ion-option>
            <ion-option value="otimo">Ótimo</ion-option>
          </ion-select>
      </ion-item>


      <ion-item>
        <ion-label stacked>Local do Patrimônio</ion-label>
        <ion-select name="sub_id" [(ngModel)]="model.sub_id">
          <ion-option *ngFor="let subcategory of subcategories" value="{{ subcategory.id }}">{{ subcategory.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
          <ion-label>Ativo</ion-label>
          <ion-checkbox name="active" [(ngModel)]="model.active" color="dark"></ion-checkbox>
      </ion-item>
    </ion-list>

    <img src="{{ photo }}"/>

    
    <ion-fab right bottom>
      <button ion-fab color="light" (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
    </ion-fab>

  </ion-content>


  <ion-footer padding>
    <button ion-button block (click)="save()">Salvar</button>
  </ion-footer>